
<div class = "form-style">
<%= form_with model: @product, url: products_path, method: :post, class: "inner-form" do |form| %>
  <% if current_user.role == "vendor" %>
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :description %>
    <%= form.text_area :description %>

    <%= form.label :product_type %>
    <%= form.text_field :product_type %>

    <%= form.submit "Create Product" %>
  <% else %>
    <p>Only users with the vendor role can create products.</p>
  <% end %>
<% end %>

</div>